a, a:hover, a:focus, a:active {
    color: #234666;
}
@font-face {
    font-family: 'Technovia-Caps';
    src:url('/fonts/technovia-caps/Technovia-Caps.ttf.woff') format('woff'),
        url('/fonts/technovia-caps/Technovia-Caps.ttf.svg#Technovia-Caps') format('svg'),
        url('/fonts/technovia-caps/Technovia-Caps.ttf.eot'),
        url('/fonts/technovia-caps/Technovia-Caps.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#page {
    min-height: 100%;
    margin-bottom: -42px;
}
* html #page {
    height: 100%;
}

#top-bar {

}
.site-description {
    color: #fff6dd;
    margin-left: 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #010B40;
}
#social-icons {
    text-align: left;
    margin-left: 10px;
}
#social-icons img {
    opacity: 0.65;
}
.site-title {
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
}
.site-title a {
    color: #18100A;
    font-family: 'Technovia-Caps';
    font-size: 60px;
    font-weight: 200;
    text-shadow: 1px 1px 4px #858CFF;
}
.site-title a:hover {
    color: #18100A;
    text-decoration: none;
    text-shadow: 1px 1px 5px #EAF2FF;
}
#primary-main h2.entry-title a:hover {
    color: #234666;
    text-decoration: none;
}
.pagination ul > li > a:hover {
    color: #234666;
}
.pagination .current {
    color: #234666;
}
#top-navigation ul a {
    color: #FFF6DD;
}
#top-navigation ul a i {
    color: #FFF6DD;
    font-size: 14px;
}
#parallax-bg {
    background: url(/images/concert-1.jpg) no-repeat;
    background-position: center top;
}
#content {
    margin: 15px auto 95px;
}
.single #content {
margin: 55px auto 95px;   
}
body.custom-background {
    background-color: #f7f7f7;
    background-image: url('/images/v1_bg.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}
.attachment-homepage-thumb {
    height: 270px;
}
#primary {
    background: none repeat scroll 0 0 #FFFBF2;
}
.single #content, .page #content {
    background: none repeat scroll 0 0 #FFFBF2;
}
.single .single-entry-title {
    margin-top: 15px;
}
.post .author, .post .published {
    color: #234666;
    margin-left: 5px;
}
article.post p {
    text-indent: 30px;
    text-align: justify;
}
article.post p img {
    display: block;
}
article.post p em{
    color: #777;
}
#widget_iframe {
    border: 0 none;
    display: inline-block;
    height: 259px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -15px;
    top: 5px;
    width: 235px;
    z-index: 10;
    opacity: 0.75;
}
.player_container {
    position: relative;
    min-height: 250px;
}
.comments-container {
    padding-right: 0;
}
#hypercomments_widget .hc .hc_menu {
    color: #234666 !important;
    font-size: 12px !important;
}
#hypercomments_widget .hc .hc_menu:hover {
    border-bottom: 1px solid #234666 !important;
    color: #234666 !important;
}
#hypercomments_widget .hc .hc_menu_active {
    border-bottom: 1px solid #234666 !important;
    color: #234666 !important;
}
#hypercomments_widget .hc .hc_like_box {
    float: right !important;
    margin-bottom: 13px !important;
}
#hypercomments_widget .hc .hc_like_box .hc_like {
    background: none repeat scroll 0 0 #D3FFB2 !important;
}
#hypercomments_widget .hc .hc_like_box .hc_like:hover {
    background: none repeat scroll 0 0 #D3FFB2 !important;
}
#hypercomments_widget .hc .hc_like_box .hc_unlike {
    background: none repeat scroll 0 0 #FFE1DD !important;
}
#hypercomments_widget .hc .hc_like_box .hc_unlike:hover {
    background: none repeat scroll 0 0 #FFE1DD !important;
}
#hypercomments_widget .hc .hc_get_filters {
    border-top: 5px solid #234666 !important;
}
#primary_simple {
    margin-top: 0;
    padding: 0 15px 35px;
    min-height: 500px;
}
dl.event {
    font-size: 12px;
    margin-left: 20px;
}
dl.event a {
    display: inline-block;
    font-size: 15px;
}
dl.event dd {
    margin-left: 40px;
}