
    </div><!-- #page -->

    <footer id="colophon" class="site-footer row" role="contentinfo">
        <div class="container">
            <div class="site-info col-md-4">
                Copyright &copy; {{ site.time | date: '%Y' }}, Exact Division.
            </div><!-- .site-info -->
            <div class="col-md-1"></div>
            <div id="footertext" class="col-md-7">
                <a href="#">Наверх</a>
            </div>
        </div>
    </footer><!-- #colophon -->

<script type='text/javascript' src='/js/navigation.js'></script>
<script type='text/javascript' src='/js/skip-link-focus-fix.js'></script>
</body>
</html>
