.index_page {
    width: 900px;
}

a {
    color: #0066CC;
    text-decoration: none;
}

a:hover {
    color: #2da6e3;
}

pre {
    max-width: 577px;
    overflow: auto;
    padding: 2px;
    background-color: #F9F9F9;
    border: 1px dashed #2F6FAB;
    padding: 10px;
    font-size: 10pt;
}

code {
    font-size: 11pt;
}

pre code {
    font-size: 10pt;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

ul.about {
    padding: 10px 0 10px 45px;
    margin: 0;
    }

ul.posts span {
    color: #888;
    margin-left: 10px;
}

.post {
    width: 600px;
}

.post-info .date {
    color: #888;
}

table.small-font td, table.small-font th {
    font-size: 10pt;
    padding: 5px;
}

table.patches td pre {
    max-width: 400px;
    border: none;
    padding: none;
    background: none;
}

blockquote {
    margin-left: 10px;
    padding-left: 22px;
    margin-right: 35px;
    border-left: 5px solid #ddd;
}

.figure {
    background-color: #F4F4F4;
    border: 1px solid #EEEEEE;
    margin: 0 auto;
    padding: 5px;
}
.figure img {
    border: 1px solid #CCCCCC;
}
.figcaption {
    padding-top: 5px;
    text-align: center;
    word-wrap: break-word;
    color: #555555;
    font-size: 0.85em;
}
