{% include header.html %}

        <div id="content" class="site-content container row clearfix clear">
            <div class="container col-md-12"> 
                <div id="primary-main" class="content-area col-md-12">
                    <main id="main" class="site-main row container" role="main">
   
                        {{ content }}
   
                    </main><!-- #main -->
                </div><!-- #primary-main -->
            </div>
        </div><!-- #content -->

{% include footer.html %}